player-connection-mode=Listen
player-connection-guid=1492520785
player-connection-debug=0
player-connection-project-name=Carry On
player-connection-ip=10.35.32.52
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1e2b1a552bbd4b2eb4e4f36a603b68ec
